*{
    margin: 0;
    padding: 0;
    font-family: 'Abel';
    /* #5068A9 */
    color: #020202;
    
}

p{
    font-size: 18px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    background-color: #f2f2f2;
}

header > div > a{
    font-size: 20px;
    color: #5068A9;
    font-weight: bold;
    letter-spacing: 2px;
}

header > div >#btn_menu{
    display: none;
    
}

nav{
    display: flex;
}
    ul >li > a{
    color: #5068A9;
}

    ul.media > li:nth-child(1) > a > i::before{
    content: url(../Media/icons/facebook.svg);
    display: block;   
}
    ul.media > li:nth-child(2) > a > i::before{
    content: url(../Media/icons/twitter.svg);
    display: block;   
}
    ul.media > li:nth-child(3) > a > i::before{
    content: url(../Media/icons/intagram.svg);
    display: block;   
}
    ul.media > li:nth-child(4) > a > i::before{
    content: url(../Media/icons/linkedin.svg);
    display: block;   
}

header > nav > ul.nav_principal > li:nth-child(3) >a{
    opacity: .5;
}

section  p{
    margin-top: 20px;
}

footer{
    margin: 20px 0 0 8px;
}

footer > p{
    opacity: .5;
}

footer > p > a{
    color: #5068A9;
    font-weight: bold;
    
}

footer > ul.media{
    display: flex;
}

@media screen and (max-width:576px){
    header > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header > div > a{
        padding: 10px;
    }
    
    header > div >label{
        cursor: pointer;
        padding: 10px;
       
    }
    header > div > label::before{
        content: url(../Media/icons/hamburguer.svg);
        display: block;
        width: 50px;
      
    }
    
    nav{
        /*  */
        /*  */
        display: none;
        /*  */
        /*  */
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: #020202;
        width: 60%;
        margin-right: -60%;
    }
    
    nav > ul{
        margin-top: 20px;
    }

    nav > ul > li{
        margin: 0 0 20px 20px;
    }

    
    nav > div.nav_media{
        margin: 20px 0 20px 20px;
    }
    
    nav > div.nav_media > p:nth-child(1){
        color: #f2f2f2;
        font-weight: bold;
        padding-bottom: 15px;
    }
    
    nav > div.nav_media > p:nth-child(3){
        margin-top: 40px;
        color: #f2f2f2;
        font-weight: bold;
    }
    nav > div.nav_media > ul{
        display: flex;
        margin-top: 15px;
    }
    
    nav > div.nav_media > ul > li{
        margin-left: 15px;
        width: 25px;
    }
    
    nav > div.nav_media > ul > li:nth-child(1){
        margin: 0;
    }

    section{
        margin: 40px 10px;
        box-sizing: content-box;
    }

    section > div {
        width: 100%;
        margin-bottom:40px ;
    }

    section > div > img{
        width: 100%;
        object-fit: cover;
    }

    footer > ul.media > li{
        width: 22px;
        margin: 10px;
    }
    footer > ul.media > li:first-child{
        margin: 10px 10px 10px 0;
    }
}

@media screen and (min-width:577px) and (max-width:991px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px 50px;
        box-sizing: border-box;
    }

    header > nav > ul.nav_principal{
        display: flex;
    }
    header > nav > ul.nav_principal > li{
        padding: 10px 15px;
    }

    nav > div.nav_media{
        display: none;
    }
    section{
        margin: 40px 50px;
        box-sizing: content-box;
    }

    section > div {
        width: 100%;
        margin-bottom:40px ;
    }

    section > div > img{
        width: 100%;
        object-fit: cover;
    }

    footer{
        margin-left: 50px;
    }

    footer > ul.media > li{
        width: 22px;
        margin: 10px;
    }
    footer > ul.media > li:first-child{
        margin: 10px 10px 10px 0;
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px 50px;
        box-sizing: border-box;
    }

    header > nav > ul.nav_principal{
        display: flex;
    }
    header > nav > ul.nav_principal > li{
        padding: 10px 15px;
    }
    nav > div.nav_media{
        display: none;
    }
    section{
        margin: 40px 50px;
        box-sizing: content-box;
    }
    
    section > div {
        width: 100%;
        margin-bottom:40px ;
    }

    section > div > img{
        width: 100%;
        object-fit: cover;
    }

    footer{
        margin-left: 50px;
    }

    footer > ul.media > li{
        width: 22px;
        margin: 10px;
    }
    footer > ul.media > li:first-child{
        margin: 10px 10px 10px 0;
    }
}